@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
	display: inline-block;
	padding: 10px 20px;
	border: 2px solid rgb(60, 187, 230);
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	color: rgb(60, 187, 230);
	cursor: pointer;
  }
  
  .custom-button:hover {
	background-color: rgb(60, 187, 230);
	color: white;
  }

.code-editor > div {
	white-space: nowrap
}

.part {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size:34px; font-weight:500; text-transform:uppercase;
	margin-top: 3rem;
	margin-bottom: 2rem;
}
